.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    padding: 0 10px;
    margin: 0;
    position: relative;
    z-index: 1; 
    background-image: url("/Images/pexels-punttim-67517.jpg");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}
.about-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.375); /* Light black filter */
    z-index: -1; /* Places the overlay behind the content */
}

.about-content {
    width: 35vw;
    max-width: 700px; /* Max width for larger screens */
    padding: 2rem;
    background: rgba(0, 0, 0, 0.441); /* Semi-transparent white background */
    border-radius: 12px; /* Rounded corners for a modern look */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    color: #ffffff;
}

.about-content h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
    color: #2c3e50;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 1.5em;
    color: #ffffff;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #000000;
    color: white;
    border: none;
    font-size: 1.1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.about-button:hover {
    background-color: #feffff;
    color: black;
    cursor: pointer;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .about-content {
        width: 90%;
        padding: 4rem;
        box-shadow: none;
    }

    .about-button {
        width: 70%;
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .about-content {
        width: 90%;
        padding: 3rem;
    }

    .about-button {
        width: 80%;
    }
}
