  .main{
    background-color: #f4f4f4;
  }
    .upcomingHeading{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(70, 66, 66);
        font-size:3rem;
        width: 100%;
        text-align: center;
        
       
    }
    
    @media (max-width: 768px) { /* For tablets and smaller screens */
        .secondDiv {
            height: auto; /* Allow height to adjust based on content */
            padding: 10px; /* Adjust padding for smaller screens */
            width: 100%;
            text-align: center;
        }
        .upcomingHeading{
            font-size: 1.5rem; /* Subtitle font size */
           
        }
    }
    
    @media (max-width: 480px) { /* For mobile devices */
        .secondDiv {
            padding: 5px; /* Further reduce padding for mobile */
            background-image: 
                linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%), 
                url('/Images/gustavo-a-perez-mIblcb-GrhE-unsplash.jpg'); /* Ensure the background image is still there */
        }
        .upcomingHeading{
            font-size: 1.5rem;
        }
    }
    
