.Reviews-main-div{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    position: relative; 
    background-image: url("/Images/pexels-punttim-67517.jpg");
    background-attachment: fixed; 
    overflow: hidden; 
    background-size: cover;
    background-position: center;
    
}
.Reviews-heading{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size:3rem;
}
@media (max-width: 768px) {
    .Reviews-main-div{
        padding-top: 40px;
    }
    .Reviews-heading{
        font-size: 1.5rem;
    }
}
/* Reviews.css */
.Reviews-main-div {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .Reviews-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .slide-in {
    
    animation: slideInFromRight 2s ease forwards;
  }
  
  .slide-out {
    animation: slideOutToLeft 2s ease forwards;
  }
  
  @keyframes slideInFromRight {
    from {
        position:absolute;
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutToLeft {
    from {
      
      transform: translateX(0%);
      opacity: 1;
    }
    to {
        position: fixed;
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @media(max-width: 768px){
    @keyframes slideInFromRight {
      from {
          position:fixed;
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @keyframes slideOutToLeft {
      from {
          
        transform: translateX(0%);
        opacity: 1;
      }
      to {
          position: fixed;
        transform: translateX(-100%);
        opacity: 0;
      }
    }
  }
  