.ReviewComponent-main-div{
    height:20rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    padding-top: 70px;
    padding-bottom: 70px;
    transition: transform 1s ease;
}
/* For sliding the review in from the right */
.slide-in {
    transform: translateX(0);
  }
  
  /* For sliding the review out to the left */
  .slide-out-left {
    transform: translateX(-100%);
  }
  
  /* For sliding the review in from the right */
  .slide-out-right {
    transform: translateX(100%);
  }
.ReviewBox{
    width:40%;
    height:100%;
    /* background-color: red; */
    display: flex;
    padding: 0;
}
.ReviewImage{
    width:20%;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* padding-top: 120px; */
}
.ReviewImage img{
    height:5vw;
    border-radius: 100px;
}
.ReviewComment {
    margin-top: 20px;
    right: 40px;
    height: 50%;
    width: 80%; 
    background-color: white;
    box-shadow: 0px 0px 7px grey;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 30px;
    border-radius: 12px 12px 12px 0px;
    overflow: hidden;
}
.ReviewComment h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif0;
}
.ReviewComment p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
}
@media (max-width: 768px) {
    .ReviewComponent-main-div{
        position: relative;
        justify-content: flex-start;
        padding-bottom: 0;
        padding-left: 30px;
        
    }
    .ReviewBox{
        width:90%;
        height:100%;
        display: flex;
    }

    .ReviewImage {
        /* padding-top: 0; */
        width: 13%; /* Adjust width of image container */
        height: auto;
        margin-bottom: 70px;
        justify-content: normal;
    }

    .ReviewImage img {
        height: 10vw; /* Larger image size for smaller screens */
    }

    .ReviewComment {
        width: 100%; /* Full width for small screens */
        top: 30px;
        right: 30;
        height:130px;
        padding: 07px;
        padding-bottom: 10px;
        margin-top: 50px;
    }
    .ReviewComment h1{
        font-size: medium;
    }
    .ReviewComment p{
        font-size: small;
    }
}