.Reviews-main-div{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this line */
    overflow: hidden; /* Add this line to hide overflow */
   
    
}
.Reviews-heading{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 66, 66);
    font-size:3rem;
}
@media (max-width: 768px) {
    .Reviews-main-div{
        padding-top: 40px;
    }
    .Reviews-heading{
        font-size: 1.5rem;
    }
}
/* Reviews.css */
.Reviews-main-div {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .Reviews-heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .slide-in {
    
    animation: slideInFromRight 1s ease forwards;
  }
  
  .slide-out {
    animation: slideOutToLeft 1s ease forwards;
  }
  
  @keyframes slideInFromRight {
    from {
        position:absolute;
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutToLeft {
    from {
        /* position: absolute; */
      transform: translateX(0%);
      opacity: 1;
    }
    to {
        /* position: absolute; */
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  